* {
    margin: 0;
    padding: 0;
}

.heroImage {
    background-image: url(pic12.jpg);
    background-position:  center center;
    width: 100vw;
    height:  100vh;
    background-size: cover;
}

h1,
h3 {
    color: white;
    padding: 30px;
}