#map {
    height: 600px
}

#images {
    margin-top: 20px
}

.image-item {
    margin: 10px;
    display: inline-block
}

.image-item img { 
    max-width: 100px 
}

h1, p  {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}